[Desktop Entry]
Version=1.0
Type=Application
Exec=jupyter-notebook
Icon=jupyter
Terminal=false
Categories=CAPESOS-Logiciels;
Name=Jupyter
Comment=Jupyter notebook 
StartupNotify=true
