#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ressources officielles
GenericName=Ressources officielles
Comment=Ressources officielles du CAPES de Mathématiques 
Exec=lecteur_pdf "/usr/share/CAPES/Ressources officielles.pdf"
Icon=evince
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Math;CAPESOS;
